@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}
body{
    background: linear-gradient(to top,transparent,rgba(239,46,28,.5)), url(img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    margin: 3.125rem 3.125rem 0 3.125rem;
    display: grid;
    justify-content: center;
    align-items: center;
}
.contenedor{
    display: block;
    width: 50rem;
    height: fit-content;
    background-color: rgba(0,0,0,.7);
    border-radius: 1.875em;
    padding: 3.125em;
    color: #fff;
    margin: 1em;
}

.contenedor-info{
    display: block;
    width: 50rem;
    height:fit-content;
    background-color: rgba(0,0,0,.7);
    border-radius: 1.875rem;
    padding: 3.125rem;
    color: #fff;
    margin: 1rem;
}

.contenedor-info .contenido-info .right-info{
    width: 25rem;
    height: fit-content;
    display: flex;
    text-align: right;
}  

.contenedor-info .right-info img{
    height: 15rem;
    width: 100%;
    padding: 2.5rem 25px 0 0.25rem;
    border-radius: 0px 65px 0px 45px;
}  

.contenedor-info .left-info{
    width: 100%;
    padding-left: 50px;
}
.contenedor-info .left-info h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.contenedor-info .left-info p{
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 14px;
}

.contenedor-info .left-info strong{
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    body {
        width: 30rem;
        margin: 1rem;
        justify-content: center;
        align-items: center;
    }
    .contenedor{
        width: 10rem;
        height: 35rem;
        padding: 2.5rem;
        margin: 1rem;
    }
    
    .contenedor .contenido{
        display: flex;
        position: relative;
    }
    .contenido .linea-decorativa{
        position: absolute;
        height: 10rem;
        width: 6rem;
        border-left: 2px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: 50%;
        transform: translateY(-50%);
    }
    .contenido .linea-decorativa .circulo{
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        margin-left: -9px;
    }
    
    .contenedor .contenido .left{
        width: 100%;
        padding-left: 50px;
    }
    .contenedor .contenido .left h2{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    .contenedor .contenido .left p{
        margin-bottom: 60px;
        font-size: 14px;
    }
    .contenedor .contenido .left button{
        display: inline-block;
        border: none;
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        padding: 5px 20px;
        border-radius: 30px;
        margin-bottom: 60px;
        transition: .5s;
        cursor: pointer;
    }
    .contenedor .contenido .left button:hover{
        background-color: #000;
        color: #fff;
    }
    .contenedor .contenido .left .redes{
        font-size: 12px;
        width: fit-content;
        padding-bottom: 7px;
        border-bottom: 2px solid #fff;
        width: 30px;
        display: flex;
        justify-content: space-between;
    }
    .contenedor .contenido .left .redes a{
        text-decoration: none;
        color: #fff;
    }
    .contenedor .contenido .right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        text-align: right;
    }
    .contenedor .contenido .right .popular{
        border-bottom: 2px solid #fff;
        width: 100px;
        padding-bottom: 5px;
        margin-bottom: 30px;
    }
    .contenedor .contenido .right .contenedor-fotos{
        display: grid;
    }
    
    .contenedor .contenido .right .contenedor-fotos img{
        width: 100%;
        margin: 0 10px;
        border-radius: 10px;
    }  
  }

  @media only screen and (max-width: 830px) {
        body {
            width: 90%;
            justify-content: center;
            align-items: center;
        }
        .contenedor{
            width: 50rem;
            height: 25rem;
            background-color: rgba(0,0,0,.7);
            border-radius: 1.875rem;
            padding: 2.5rem;
            color: #fff;
            margin: 1rem;
        }
        
        .contenedor .contenido{
            display: flex;
            position: relative;
        }
        .contenido .linea-decorativa{
            position: absolute;
            height: 10rem;
            width: 6rem;
            border-left: 2px solid #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            top: 50%;
            transform: translateY(-50%);
        }
        .contenido .linea-decorativa .circulo{
            width: 15px;
            height: 15px;
            background-color: #fff;
            border-radius: 50%;
            margin-left: -9px;
        }
        
        .contenedor .contenido .left{
            width: 100%;
            padding-left: 50px;
        }
        .contenedor .contenido .left h2{
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
        .contenedor .contenido .left p{
            margin-bottom: 60px;
            font-size: 14px;
        }
        .contenedor .contenido .left button{
            display: inline-block;
            border: none;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            padding: 5px 20px;
            border-radius: 30px;
            margin-bottom: 60px;
            transition: .5s;
            cursor: pointer;
        }
        .contenedor .contenido .left button a:link, a:visited, a:active{
            text-decoration:none;
        }
        .contenedor .contenido .left button:hover{
            background-color: #000;
            color: #fff;
        }
        .contenedor .contenido .left .redes{
            font-size: 12px;
            width: fit-content;
            padding-bottom: 7px;
            border-bottom: 2px solid #fff;
            width: 30px;
            display: flex;
            justify-content: space-between;
        }
        .contenedor .contenido .left .redes a{
            text-decoration: none;
            color: #fff;
        }
        .contenedor .contenido .right{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: flex-end;
            text-align: right;
        }
        .contenedor .contenido .right .popular{
            border-bottom: 2px solid #fff;
            width: 100px;
            padding-bottom: 5px;
            margin-bottom: 30px;
        }
        .contenedor .contenido .right .contenedor-fotos{
            display: grid;
        }
        
        .contenedor .contenido .right .contenedor-fotos img{
            width: 100%;
            margin: 0 10px;
            border-radius: 10px;
        }
    }
  
header{
    overflow: hidden;
    padding: 30px 20px 30px;
}

header h1{
    float: left;
}

header nav{
    float: right;
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header nav ul li{
    margin: 0 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 33px;
    font-size: 14px;
    padding: 5px 10px;
    transition: .5s;
    border-radius: 20px;
}
header nav ul li a:hover{
    background-color: #000;
    color: #fff;
}

.contenedor .contenido{
    display: flex;
    position: relative;
}

.contenedor .contenido-2{
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
}

.contenedor .contenido-2 .row{
    margin-bottom: 40px;
}

.contenedor .contenido-2 .row input, textarea{
    background-color: rgba(255, 255, 255, 0.667);
    border-radius: 0.5em;
    padding: 1rem;
}

.contenedor .contenido-2 .row input #submit_button{
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
}

.contenido .linea-decorativa{
    position: absolute;
    height: 12.5rem;
    width: 6.25rem;
    border-left: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 50%;
    transform: translateY(-50%);
}
.contenido .linea-decorativa .circulo{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -9px;
}

.contenedor .contenido .left{
    width: 100%;
    padding-left: 50px;
}
.contenedor .contenido .left h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.contenedor .contenido .left p{
    margin-bottom: 60px;
    font-size: 14px;
}
.contenedor .contenido .left button{
    display: inline-block;
    border: none;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
    margin-bottom: 60px;
    transition: .5s;
    cursor: pointer;
}
.contenedor .contenido .left button:hover{
    background-color: #000;
    color: #fff;
}
.contenedor .contenido .left .redes{
    font-size: 12px;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 2px solid #fff;
    width: 30px;
    display: flex;
    justify-content: space-between;
}
.contenedor .contenido .left .redes a{
    text-decoration: none;
    color: #fff;
}
.contenedor .contenido .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-align: right;
}
.contenedor .contenido .right .popular{
    border-bottom: 2px solid #fff;
    width: 100px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.contenedor .contenido .right .contenedor-fotos{
    display: grid;
}

.contenedor .contenido .right .contenedor-fotos img{
    width: 100%;
    height: max-content;
    border-radius: 10px;
}
.contenedor .contenido .left button a:link, a:visited, a:active{
    text-decoration:none;
    color: white;
}
.contenedor-tb{
    display: block;
    width: 60rem;
    height: fit-content;
    background-color: rgba(0,0,0,.7);
    border-radius: 1.875em;
    padding: 3em;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}



table td {
    width: 60rem;
    padding: 10px;
}

table td h2{
    align-items: center;
    justify-content:center;
}

table td h1{
    font-size:1.6rem;
    font-style: bold;
    justify-content:center;    
    padding-left: 1rem;
}

table td .tpm {
    width: 45rem;
}


table h2{
    font-size:1.6rem;
    font-style: bold;
    justify-content:center;
}

/* FOOTER */

footer{
    display: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    padding: 2.5rem 5rem 2.5rem 5rem;
    color: #fff;
}

footer h1{
    float: left;
}

footer nav{
    float: right;
}

footer nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

footer nav ul li{
    margin: 0 20px;
}
footer nav ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 33px;
    font-size: 14px;
    padding: 5px 10px;
    transition: .5s;
    border-radius: 20px;
}
footer nav ul li a:hover{
    background-color: #000;
    color: #fff;
}